.dashboard-card{
background:white;
border-radius:12px;
padding:20px;
display:flex;
align-items:center;
justify-content:space-between;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
transition:0.3s;
cursor:pointer;
}

.dashboard-card:hover{
transform:translateY(-6px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.card-title{
font-size:14px;
color:#6b7280;
}

.card-value{
font-size:22px;
font-weight:600;
margin-top:5px;
}

.card-icon{
font-size:32px;
color:#6366f1;
}